/* #coloring{
    color: aqua;
} */

.main-div{
    height: 80vh;
}

.centering-div{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 35vh;
}

.h1-padding{
    padding: 30px;
    /* border-radius: 50%; */
    border: 2px solid black;
}